services:
  db:
    image: postgres:15-alpine
    container_name: kotlin_demo_db
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    image: kotlin-backend-demo:${APP_VERSION:-1.0.0-SNAPSHOT}
    container_name: kotlin_backend_app
    depends_on:
      - db
    ports:
      - "8080:8080"
    env_file:
      - .env

volumes:
  postgres_data: