version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: kotlin_demo_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: my_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: