<configuration>

    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.testcontainers" level="WARN"/>
    <logger name="io.ktor" level="WARN"/>

    <logger name="io.github.carlawarde.kotlinBackendDemo" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{call-id} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>